mgcssg1_servidor/services.wsdl

<?xml version="1.0"?>
<definitions name="ErasmusWSDL"
    targetNamespace="urn:ErasmusWSDL"
     xmlns:tns="urn:ErasmusWSDL"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns="http://schemas.xmlsoap.org/wsdl/">
     
  <wsdl:types>
  	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    		    targetNamespace="urn:ErasmusWSDL">
    	<xsd:complexType name="GenericResult">
    		<xsd:sequence>
    			<xsd:element name="errno" type="xsd:int" />
    		</xsd:sequence>
    	</xsd:complexType>
    	
    	<xsd:complexType name="ComplexDestino">
    		<xsd:sequence>
    			<xsd:element name="errno" type="xsd:int"/>
    			<xsd:element name="id" type="xsd:int"/>
    			<xsd:element name="nombre" type="xsd:string"/>
    			<xsd:element name="pais" type="xsd:string"/>
    			<xsd:element name="idioma" type="xsd:string"/>
    			<xsd:element name="disponible" type="xsd:boolean"/>
    			<xsd:element name="numplazas" type="xsd:int"/>
    			<xsd:element name="nvlrequerido" type="xsd:string"/>
    		</xsd:sequence>
    	</xsd:complexType>
    	
    	<xsd:complexType name="ArrayDestinos">
    		<xsd:sequence>
    			<xsd:element name="errno" type="xsd:int"/>
    			<xsd:element name="destinos" type="tns:ComplexDestino" maxOccurs="unbounded" minOccurs="0"/>
    		</xsd:sequence>
    	</xsd:complexType>
    	
    	<xsd:complexType name="ComplexSolicitud">
    		<xsd:sequence>
    			<xsd:element name="errno" type="xsd:int"/>
    			<xsd:element name="nomAlumno" type="xsd:string" />
    			<xsd:element name="idAl" type="xsd:int"/>
    			<xsd:element name="nomDestino" type="xsd:string" />
    			<xsd:element name="idDest" type="xsd:int" />
    			<xsd:element name="fecha" type="xsd:date" />
    			<xsd:element name="aceptado" type="xsd:boolean" />
    		</xsd:sequence>
    	</xsd:complexType>
    	
    	<xsd:complexType name="ArraySolicitudes">
    		<xsd:sequence>
    			<xsd:element name="errno" type="xsd:int"/>
    			<xsd:element name="solicitudes" type="tns:ComplexSolicitud" maxOccurs="unbounded"/>
    		</xsd:sequence>
    	</xsd:complexType>
    	
    	<xsd:complexType name="ComplexAsignatura">
    		<xsd:sequence>
    			<xsd:element name="errno" type="xsd:int" />
    			<xsd:element name="nombre" type="xsd:string" />
    			<xsd:element name="titulacion" type="xsd:string" />
    			<xsd:element name="creditos" type="xsd:int" />
    			<xsd:element name="coordinador" type="xsd:string" />
    		</xsd:sequence>
    	</xsd:complexType>
    	
    	<xsd:complexType name="ArrayAsignaturas">
    		<xsd:sequence>
    			<xsd:element name="errno" type="xsd:int" />
    			<xsd:element name="asignaturas" type="tns:ComplexAsignatura" maxOccurs="unbounded"/>
    		</xsd:sequence>
    	</xsd:complexType>
    	
    	<xsd:complexType name="ComplexAsignaturaExt">
    		<xsd:sequence>
    			<xsd:element name="errno" type="xsd:int" />
    			<xsd:element name="nombre" type="xsd:string" />
    			<xsd:element name="creditos" type="xsd:int" />
    			<xsd:element name="centro" type="xsd:string" />
    		</xsd:sequence>
    	</xsd:complexType>
    	
    	<xsd:complexType name="ArrayAsignaturasExt">
    		<xsd:sequence>
    			<xsd:element name="errno" type="xsd:int" />
    			<xsd:element name="asignaturas" type="tns:ComplexAsignaturaExt" maxOccurs="unbounded"/>
    		</xsd:sequence>
    	</xsd:complexType>
    	
    	<xsd:complexType name="ComplexUsuario">
    		<xsd:sequence>
    			<xsd:element name="errno" type="xsd:int" />
    			<xsd:element name="id" type="xsd:int" />
    			<xsd:element name="nombre" type="xsd:string" />
    			<xsd:element name="apellidos" type="xsd:string" />
    			<xsd:element name="nif" type="xsd:string" />
    			<xsd:element name="rol" type="xsd:int" />
    			<xsd:element name="direccion" type="xsd:string" />
    			<xsd:element name="poblacion" type="xsd:string" />
    			<xsd:element name="nick" type="xsd:string" />
    			<xsd:element name="passwd" type="xsd:string" />
    			<xsd:element name="titulacion" type="xsd:int" />
    		</xsd:sequence>
    	</xsd:complexType>
    	
  	</xsd:schema>
  </wsdl:types>
   	
  <message name="ConsultarDestinosEntrada">
  	<part name="idAlumno" type="xsd:int" />
  </message>
  
  <message name="ConsultarDestinosSalida">
  	<part name="retorno" type="tns:ArrayDestinos" />
  </message>
  
  <message name="CrearSolicitudEntrada">
  	<part name="idAlumno" type="xsd:int" />
  	<part name="idDestino" type="xsd:int" />
  </message>
  
  <message name="CrearSolicitudSalida">
  	<part name="retorno" type="tns:GenericResult" />
  </message>
  
  <message name="CrearDestinoEntrada">
  	<part name="nombre" type="xsd:string" />
  	<part name="idPais" type="xsd:int" />
  	<part name="idIdioma" type="xsd:int" />
  	<part name="disponible" type="xsd:boolean" />
  	<part name="numPlazas" type="xsd:int" />
  	<part name="nvlRequerido" type="xsd:int" />
  </message>
  
  <message name="CrearDestinoSalida">
  	<part name="resultado" type="tns:GenericResult" />
  </message>
  
  <message name="EditarDestinoEntrada">
  	<part name="idDestino" type="xsd:int" />
  	<part name="nombre" type="xsd:string" />
  	<part name="idPais" type="xsd:int" />
  	<part name="idIdioma" type="xsd:int" />
  	<part name="disponible" type="xsd:boolean" />
  	<part name="numPlazas" type="xsd:int" />
  	<part name="nvlRequerido" type="xsd:int" />
  </message>
  
  <message name="EditarDestinoSalida">
  	<part name="resultado" type="tns:GenericResult" />
  </message>
  
  <message name="BorrarDestinoEntrada">
  	<part name="idDestino" type="xsd:int" />
  </message>
  
  <message name="BorrarDestinoSalida">
  	<part name="resultado" type="tns:GenericResult" />
  </message>
  
  <message name="AceptarSolicitudEntrada">
  	<part name="idUsuario" type="xsd:int" />
  	<part name="idDestino" type="xsd:int" />
  </message>
  
  <message name="AceptarSolicitudSalida">
  	<part name="resultado" type="tns:GenericResult" />
  </message>
  
  <message name="ConsultarSolicitudesEntrada">
  	<part name="idAlumno" type="xsd:int" />
  	<part name="idDestino" type="xsd:int" />
  </message>
  
  <message name="ConsultarSolicitudesSalida">
  	<part name="resultado" type="tns:ArraySolicitudes" />
  </message>
  
  <message name="ConsultarAsignaturasMatriculadasEntrada">
  	<part name="idAlumno" type="xsd:int" />
  </message>
  
  <message name="ConsultarAsignaturasMatriculadasSalida">
  	<part name="resultado" type="tns:ArrayAsignaturas" />
  </message>
  
  <message name="ConsultarExtrangerasAlumnoEntrada">
  	<part name="idAlumno" type="xsd:int" />
  </message>
  
  <message name="ConsultarExtrangerasAlumnoSalida">
  	<part name="resultado" type="tns:ArrayAsignaturasExt" />
  </message>
  
  <message name="LoginUsuarioEntrada">
  	<part name="nick" type="xsd:string" />
  	<part name="passwd" type="xsd:string" />
  </message>
  
  <message name="LoginUsuarioSalida">
  	<part name="resultado" type="tns:ComplexUsuario" />
  </message>

  <wsdl:message name="NewOperationRequest">
  	<wsdl:part name="NewOperationRequest" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
  	<wsdl:part name="NewOperationResponse" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <portType name="ErasmusWSDLPort">
  	<operation name="consultarDestinos">
  		<input message="tns:ConsultarDestinosEntrada" />
  		<output message="tns:ConsultarDestinosSalida" />
  	</operation>
  	
  	<operation name="crearSolicitud">
  		<input message="tns:CrearSolicitudEntrada" />
  		<output message="tns:CrearSolicitudSalida" />
  	</operation>
  	
  	<operation name="crearDestino">
  		<input message="tns:CrearDestinoEntrada" />
  		<output message="tns:CrearDestinoSalida" />
  	</operation>
  	
  	<operation name="editarDestino">
  		<input message="tns:EditarDestinoEntrada" />
  		<output message="tns:EditarDestinoSalida" />
  	</operation>
  	
  	<operation name="borrarDestino">
  		<input message="tns:BorrarDestinoEntrada" />
  		<output message="tns:BorrarDestinoSalida" />
  	</operation>
  	
  	<operation name="aceptarSolicitud">
  		<input message="tns:AceptarSolicitudEntrada" />
  		<output message="tns:AceptarSolicitudSalida" />
  	</operation>
  	
  	<operation name="consultarSolicitudes">
  		<input message="tns:ConsultarSolicitudesEntrada" />
  		<output message="tns:ConsultarSolicitudesSalida" />
  	</operation>
  	
  	<operation name="consultarAsignaturasMatriculadas">
  		<input message="tns:ConsultarAsignaturasMatriculadasEntrada" />
  		<output message="tns:ConsultarAsignaturasMatriculadasSalida" />
  	</operation>
  	
  	<operation name="consultarExtrangerasAlumno">
  		<input message="tns:ConsultarExtrangerasAlumnoEntrada" />
  		<output message="tns:ConsultarExtrangerasAlumnoSalida" />
  	</operation>
  	
  	<operation name="loginUsuario">
  		<input message="tns:LoginUsuarioEntrada" />
  		<output message="tns:LoginUsuarioSalida" />
  	</operation>
  </portType>
 
  <binding name="ErasmusWSDLBinding" type="tns:ErasmusWSDLPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="consultarDestinos">
        <soap:operation soapAction="urn:ErasmusWSDL#consultarDestinos" />
        <input>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </input>
        <output>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </output>
    </operation>
    <operation name="crearSolicitud">
        <soap:operation soapAction="urn:ErasmusWSDL#crearSolicitud" />
        <input>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </input>
        <output>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </output>
    </operation>
    <operation name="crearDestino">
        <soap:operation soapAction="urn:ErasmusWSDL#crearDestino" />
        <input>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </input>
        <output>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </output>
    </operation>
    <operation name="editarDestino">
        <soap:operation soapAction="urn:ErasmusWSDL#editarDestino" />
        <input>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </input>
        <output>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </output>
    </operation>
    <operation name="borrarDestino">
        <soap:operation soapAction="urn:ErasmusWSDL#borrarDestino" />
        <input>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </input>
        <output>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </output>
    </operation>
    
    <operation name="aceptarSolicitud">
        <soap:operation soapAction="urn:ErasmusWSDL#aceptarSolicitud" />
        <input>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </input>
        <output>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </output>
    </operation>
    
    <operation name="consultarSolicitudes">
        <soap:operation soapAction="urn:ErasmusWSDL#consultarSolicitudes" />
        <input>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </input>
        <output>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </output>
    </operation>
    
    <operation name="consultarAsignaturasMatriculadas">
        <soap:operation soapAction="urn:ErasmusWSDL#consultarAsignaturasMatriculadas" />
        <input>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </input>
        <output>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </output>
    </operation>
    
    <operation name="consultarExtrangerasAlumno">
        <soap:operation soapAction="urn:ErasmusWSDL#consultarExtrangerasAlumno" />
        <input>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </input>
        <output>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </output>
    </operation>
    
    <operation name="loginUsuario">
        <soap:operation soapAction="urn:ErasmusWSDL#loginUsuario" />
        <input>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </input>
        <output>
          <soap:body use="literal" namespace="urn:ErasmusWSDL"
                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        </output>
    </operation>
    
  </binding>
   
  <service name="EjemploClaseServicio">
    <port name="ErasmusWSDLPort" binding="tns:ErasmusWSDLBinding">
      <soap:address location="http://localhost/services.php" />
    </port>
  </service>
</definitions>
